<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/styles/administrador.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

     <!--=============== HEADER ===============-->
     <header class="header" id="header">
        <div class="header__container">
           
           <button class="header__toggle" id="header-toggle">
              <i class="ri-menu-line"></i>
           </button>
        </div>
     </header>

     <!--=============== SIDEBAR ===============-->
     <nav class="sidebar" id="sidebar">
        <div class="sidebar__container">
           <div class="sidebar__user">
              <div class="sidebar__img">
                 <img src="/images/administrador.png" alt="image"> 
              </div>
  
              <div class="sidebar__info">
                 <h3>Juan Jose Bermudez</h3>
                 <span></span>
              </div>
           </div>

           <div class="sidebar__content">
              <div>
                

                 <div class="sidebar__list">
                    
                  <a th:href="@{/clientes/perfil/{id}(id=${cliente.id})}" class="sidebar__link">
                     <i class="ri-profile-line"></i>
                     <span>Mi Perfil</span>
                 </a>
                 

                    <a href="#" class="sidebar__link">
                        <i class="ri-walk-line"></i>
                       <span>Mis Pedidos</span>
                    </a>

                    <a href="#" class="sidebar__link">
                        <i class="ri-riding-line"></i>
                       <span>Historial Pedidos</span>
                    </a>

                   
                   
                 </div>
              </div>

              <div>
                 

                 <div class="sidebar__list">
                    

                    
                 </div>
              </div>
           </div>

           <div class="sidebar__actions">
              <button>
               
              </button>

              <a href="/" class="sidebar__link">
               <i class="ri-logout-box-r-fill"></i>
               <span>Log Out</span>
           </a>
           </div>
        </div>
     </nav>

     <!--=============== MAIN ===============-->
     <main class="main container" id="main">
      <div class="main-content">
          <h1>Bienvenido a su portal de cliente</h1>
          <div class="table-container">
             <section class="dashboard">
                <div class="card">
                    <i class="ri-restaurant-fill"></i>
                    <h2>120</h2>
                    <p>Pedidos Finalizados</p>
                </div>
                <div class="card">
                    <i class="ri-heart-fill"></i>
                    <h2>5</h2>
                    <p>Comidas Favoritas</p>
                </div>
                <div class="card">
                    <i class="ri-shopping-cart-fill"></i>
                    <h2>1</h2>
                    <p>Pedidos en Curso</p>
                </div>
                <div class="card">
                    <i class="ri-money-dollar-circle-fill"></i>
                    <h2>$55,000</h2>
                    <p>Gastos Mensuales</p>
                </div>
            </section>
            
          </div>
      </div>
  </div>
   </main>
     
     <!--=============== MAIN JS ===============-->
     <script src="js/main.js"></script>

        <!-- Contenido Principal -->


</body>
</html>