<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/styles/editar-producto.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <div class="header__container">
            <button class="header__toggle" id="header-toggle">
                <i class="ri-menu-line"></i>
            </button>
        </div>
    </header>

    <!--=============== SIDEBAR ===============-->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__container">
            <div class="sidebar__user">
                <div class="sidebar__img">
                    <img src="/images/administrador.png" alt="image"> 
                </div>
                <div class="sidebar__info">
                    <h3>Juan Jose Bermudez</h3>
                    <span></span>
                </div>
            </div>
            <div class="sidebar__content">
                <div>
                    <h3 class="sidebar__title">MANAGE</h3>
                    <div class="sidebar__list">
                        <a href="/Administrador" class="sidebar__link">
                            <i class="ri-vip-crown-fill"></i>
                            <span>Administrador</span>
                        </a>
                        <a href="/adicionales/all" class="sidebar__link">
                            <i class="ri-goblet-2-fill"></i>
                           <span>Adicionales</span>
                          </a>
                        <a href="/productos/all" class="sidebar__link">
                            <i class="ri-restaurant-fill"></i>
                           <span>Productos</span>
                        </a>
                        <a href="/clientes/all" class="sidebar__link">
                            <i class="ri-user-fill"></i>
                            <span>Clientes</span>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="sidebar__title">SETTINGS</h3>
                    <div class="sidebar__list">
                        <a href="#" class="sidebar__link">
                            <i class="ri-settings-3-fill"></i>
                            <span>Settings</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar__actions">
                <button>
                    <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                        <span>Theme</span>
                    </i>
                </button>
                <button class="sidebar__link">
                    <i class="ri-logout-box-r-fill"></i>
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </nav>

    <!--=============== MAIN ===============-->
    <main class="main container" id="main">
        <div class="main-content">""
            <h1>Editar Producto</h1>
            <div class="details-container">
                <form th:action="@{/productos/update/{id}(id=${producto.id})}" method="post">
                    
                    <!-- Campo oculto para el ID del producto -->
                    <input type="hidden" name="id" th:value="${producto.id}" />
            
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" th:value="${producto.nombre}" required>
            
                    <label for="precio">Precio:</label>
                    <input type="number" step="0.01" id="precio" name="precio" th:value="${producto.precio}" required>
            
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" required th:text="${producto.descripcion}"></textarea>
            
                    <label for="imagen">URL de Imagen:</label>
                    <input type="text" id="imagen" name="imagen" th:value="${producto.imagen}" required>
                                
                    <label>Seleccionar Adicionales:</label>
                    <div class="check-container">
                        <th:block th:each="adicional : ${adicionales}">
                            <div class="check-item">
                                <label th:text="${adicional.nombre}"></label>
                                <input type="checkbox" name="adicionales" th:value="${adicional.id}"
                                    th:checked="${producto.adicionales.contains(adicional)}">
                            </div>
                        </th:block>
                    </div>

                    
            
                    <!-- Botón para enviar el formulario -->
                    <div class="button-container">
                        <button type="submit" class="btn btn-green">Actualizar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </main>

    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>
</html>