<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/styles/editar-cliente.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <div class="header__container">
            <button class="header__toggle" id="header-toggle">
                <i class="ri-menu-line"></i>
            </button>
        </div>
    </header>

    <!--=============== SIDEBAR ===============-->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__container">
            <div class="sidebar__user">
                <div class="sidebar__img">
                    <img src="/images/administrador.png" alt="image"> 
                </div>
                <div class="sidebar__info">
                    <h3>Juan Jose Bermudez</h3>
                    <span></span>
                </div>
            </div>
            <div class="sidebar__content">
                <div>
                    <h3 class="sidebar__title">MANAGE</h3>
                    <div class="sidebar__list">
                        <a href="/Administrador" class="sidebar__link">
                            <i class="ri-vip-crown-fill"></i>
                            <span>Administrador</span>
                        </a>
                        <a href="/adicionales/all" class="sidebar__link">
                            <i class="ri-goblet-2-fill"></i>
                           <span>Adicionales</span>
                          </a>
                        <a href="/productos/all" class="sidebar__link">
                            <i class="ri-restaurant-fill"></i>
                           <span>Productos</span>
                        </a>
                        <a href="/clientes/all" class="sidebar__link">
                            <i class="ri-user-fill"></i>
                            <span>Clientes</span>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="sidebar__title">SETTINGS</h3>
                    <div class="sidebar__list">
                        <a href="#" class="sidebar__link">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar__actions">
                <button>
                   
                </button>
                <button class="sidebar__link">
                    <i class="ri-logout-box-r-fill"></i>
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </nav>

    <!--=============== MAIN ===============-->
    <main class="main container" id="main">
        <div class="main-content">
            <h1>Editar Cliente</h1>
            <div class="details-container">
                <form th:action="@{/clientes/update/{id}(id=${cliente.id})}" method="post">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" th:value="${cliente.nombre}" required>

                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" th:value="${cliente.apellido}" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" th:value="${cliente.email}" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" th:value="${cliente.telefono}" required>

                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion" th:value="${cliente.direccion}" required>

                    <div class="button-container">
                        <button type="submit" class="btn btn-green">Actualizar Cliente</button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </main>

    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>
</html>
