<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasa & Corte</title>
    <link rel="stylesheet" href="/styles/info-plato.css">
</head>
<body>
    <div id="header">
        <img src="/images/imagendiv3.jpeg" alt="Imagen de fondo del header" class="header-bg">
        <div id="logo">
            <img src="/images/logo brasa.png" alt="Brasa & Corte">
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li><h1>Personalizar</h1></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <div class="styled-wrapper">
                <a th:href="@{/productos/Menu}"> 
                    <button class="button">
                        <div class="button-box">
                            <span class="button-elem">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                                    <path fill="black" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                                </svg>
                            </span>
                            <span class="button-elem">
                                <svg fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
                                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                                </svg>
                            </span>
                        </div>
                    </button>
                </a>
            </div>             
        </ul>
    </div>
    <!-- Mostrar Informacion de personalizacion -->
    <main>
        <div class="container">
            <div class="left-container">
                <!-- imagen -->
                <img th:src="@{${producto.imagen}}" alt="Imagen del plato">
            </div>
            <div class="right-container">
                <div class="inner-container">   
                    <h2 th:text="${nombre}">Nombre del Plato</h2>
                    <p th:text="${descripcion}">Descripción del Plato</p>
                    <h3>Acompañamientos</h3>
                    <div class="checkbox-group">
                        <label class="checkbox-container">Papa en Casco
                            <input type="checkbox" name="acompaniamientos" value="papa-en-casco">
                            <span class="custom-checkmark"></span>
                        </label>
                        <label class="checkbox-container">Papas a la Francesa
                            <input type="checkbox" name="acompaniamientos" value="papas-a-la-francesa">
                            <span class="custom-checkmark"></span>
                        </label>
                        <label class="checkbox-container">Papa Criolla
                            <input type="checkbox" name="acompaniamientos" value="papa-criolla">
                            <span class="custom-checkmark"></span>
                        </label>
                    </div>

                    <h3>Ensaladas</h3>
                    <div class="checkbox-group">
                        <label class="checkbox-container">Ensalada de la casa
                            <input type="checkbox" name="ensaladas" value="ensalada-de-la-casa">
                            <span class="custom-checkmark"></span>
                        </label>
                        <label class="checkbox-container">Ensalada de repollo
                            <input type="checkbox" name="ensaladas" value="ensalada-de-repollo">
                            <span class="custom-checkmark"></span>
                        </label>
                    </div>
                    <!-- BOTON --> 
                    <button class="buttonadd">Agregar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>