<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasa & Corte</title>
    <link rel="stylesheet" href="/demo/src/main/resources/static/styles/Menu.css">
</head>
<body>
    <div id="header">
        <img src="/demo/src/main/resources/static/images/imagendiv3.jpeg" alt="Imagen de fondo del header" class="header-bg">
        <div id="logo">
            <img src="/demo/src/main/resources/static/images/logo brasa.png" alt="Brasa & Corte">
            </div>
           
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li><h1>Menu</h1></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
           
            

          
                <div class="styled-wrapper">
                    <button class="button">
                      <div class="button-box">
                        <span class="button-elem">
                          <svg
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            class="arrow-icon"
                          >
                            <path
                              fill="black"
                              d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                            ></path>
                          </svg>
                        </span>
                        <span class="button-elem">
                          <svg
                            fill="black"
                            viewBox="0 0  24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            class="arrow-icon"
                          >
                            <path
                              d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                            ></path>
                          </svg>
                        </span>
                      </div>
                    </button>
                  </div>
                  
           
        </ul>
  
    </div>

    <!-- Secciones del menú -->
    <main class="p-8">
        <section class="mb-8">
            <h2 id="entradas">Entradas</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="card">
                    <div class="image">
                        <img src="/demo/src/main/resources/static/images/entrada1.png" alt="Arepas de Maiz">
                    </div>
                    <span class="title">Arepas de Maiz</span>
                    <span class="price">$8.000</span>
                </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/entrada2.png" alt="Chicharronada">
                        </div>
                          <span class="title">Chicharronada</span>
                          <span class="price">$18.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/entrada3.png" alt="Empanadas">
                        </div>
                          <span class="title">Empanadas</span>
                          <span class="price">$12.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/entrada4.png" alt="Chorizada">
                        </div>
                          <span class="title">Chorizada</span>
                          <span class="price">$18.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/entrada5.png" alt="Yucas">
                        </div>
                          <span class="title">Yucas</span>
                          <span class="price">$8.000</span>
                    </div>   
            </div>
        </section>

        <section class="mb-8">
            <h2 id="platos-fuertes">Platos Fuertes</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="card">
                    <div class="image">
                        <img src="/demo/src/main/resources/static/images/pf1.png" alt="Tomahawk">
                    </div>
                      <span class="title">Tomahawk</span>
                      <span class="price">$62.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pf2.png" alt="Baby Beef">
                        </div>
                          <span class="title">Baby Beef</span>
                          <span class="price">$48.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pf3.png" alt="Churrasco">
                        </div>
                          <span class="title">Churrasco</span>
                          <span class="price">$48.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pf4.png" alt="Costillas BBQ">
                        </div>
                          <span class="title">Costillas BBQ</span>
                          <span class="price">$58.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pf5.png" alt="Lomo de Res">
                        </div>
                          <span class="title">Lomo de Res</span>
                          <span class="price">$48.000</span>
                    </div>
            </div>
        </section>

        <section class="mb-8">
            <h2 class="text-3xl font-semibold mb-4">Postres</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="card">
                    <div class="image">
                        <img src="/demo/src/main/resources/static/images/pos1.png" alt="Maracuyoso">
                    </div>
                      <span class="title">Maracuyoso</span>
                      <span class="price">$12.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pos2.png" alt="Limonoso">
                        </div>
                          <span class="title">Limonoso</span>
                          <span class="price">$12.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pos3.png" alt="Flan de Coco">
                        </div>
                          <span class="title">Flan de Coco</span>
                          <span class="price">$12.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/pos4.png" alt="Miloso">
                        </div>
                          <span class="title">Miloso</span>
                          <span class="price">$12.000</span>
                    </div>

                </div>
        </section>

        <section class="mb-8">
            <h2 id="adicionales">Adicionales</h2>
            <div class="grid grid-cols-2 gap-4">

                <div class="card">
                    <div class="image">
                        <img src="/demo/src/main/resources/static/images/ad1.png" alt="Guacamole">
                    </div>
                      <span class="title">Guacamole</span>
                      <span class="price">$10.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad2.png" alt="Papa Casco">
                        </div>
                          <span class="title">Papa Casco</span>
                          <span class="price">$8.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad3.png" alt="Fapas Francesas">
                        </div>
                          <span class="title">Fapas Francesas</span>
                          <span class="price">$8.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad4.png" alt="Yuquitas">
                        </div>
                          <span class="title">Yuquitas</span>
                          <span class="price">$8.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad5.png" alt="Papa Horneada">
                        </div>
                          <span class="title">Papa Horneada</span>
                          <span class="price">$10.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad6.png" alt="Chimichurri">
                        </div>
                          <span class="title">Chimichurri</span>
                          <span class="price">$5.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/ad7.png" alt="Arroz">
                        </div>
                          <span class="title">Arroz</span>
                          <span class="price">$12.000</span>
                    </div>
            </div>
        </section>

        <section class="mb-8">
            <h2 class="bebidas">Bebidas</h2>
            <div class="grid grid-cols-2 gap-4">

                <div class="card">
                    <div class="image">
                        <img src="/demo/src/main/resources/static/images/beb1.png" alt="Coca Cola">
                    </div>
                      <span class="title">Coca Cola</span>
                      <span class="price">$5.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/beb2.png" alt="Coca Cola Zero">
                        </div>
                          <span class="title">Coca Cola Zero</span>
                          <span class="price">$5.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/beb3.png" alt="Sprite">
                        </div>
                          <span class="title">Sprite</span>
                          <span class="price">$5.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/beb4.png" alt="Maracuya">
                        </div>
                          <span class="title">Cooctel de Maracuya</span>
                          <span class="price">$28.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/beb5.png" alt="Agua sin gas">
                        </div>
                          <span class="title">Agua sin gas</span>
                          <span class="price">$5.000</span>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/demo/src/main/resources/static/images/beb6.png" alt="Frutos Rojos">
                        </div>
                          <span class="title">Coctel Frutos Rojos</span>
                          <span class="price">$28.000</span>
                        </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-column2">
                <img src="/demo/src/main/resources/static/images/logo brasa.png" alt="Logo de Brasa y Corte" class="footer-logo">
                <p>&copy; 2025 Brasa y Corte. Todos los derechos reservados.</p>
            </div>
            <div class="footer-column">
                <h3>Contacto</h3>
                <p><a href="mailto:info@brasaycorte.com">info@brasaycorte.com</a></p>
                <p><a href="tel:+123456789">+123 456 789</a></p>
                <p>Dirección: Calle Falsa 123, Ciudad</p>
            </div>
            <div class="footer-column">
                <h3>Horarios</h3>
                <p>Lunes a Viernes: 12:00 - 23:00</p>
                <p>Sábado y Domingo: 12:00 - 00:00</p>
            </div>
            <div class="footer-column social-links">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#facebook"><img src="/demo/src/main/resources/static/images/facebook.png" alt="Facebook"></a>
                    <a href="#instagram"><img src="/demo/src/main/resources/static/images/instagram.png" alt="Instagram"></a>
                    <a href="#x"><img src="/demo/src/main/resources/static/images/logotipos.png" alt="X"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>