<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Cliente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/styles/ver-cliente.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <div class="header__container">
            <button class="header__toggle" id="header-toggle">
                <i class="ri-menu-line"></i>
            </button>
        </div>
    </header>

    <!--=============== SIDEBAR ===============-->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__container">
            <div class="sidebar__user">
                <div class="sidebar__img">
                    <img src="/images/administrador.png" alt="image"> 
                </div>
                <div class="sidebar__info">
                    <h3>Juan Jose Bermudez</h3>
                    <span></span>
                </div>
            </div>
            <div class="sidebar__content">
                <div>
                  
                    <div class="sidebar__list">
                        <a href="/Administrador" class="sidebar__link">
                            <i class="ri-vip-crown-fill"></i>
                            <span>Administrador</span>
                        </a>
                        <a href="/adicionales/all" class="sidebar__link">
                            <i class="ri-goblet-2-fill"></i>
                           <span>Adicionales</span>
                        </a>
                        <a href="/productos/all" class="sidebar__link">
                            <i class="ri-restaurant-fill"></i>
                           <span>Productos</span>
                        </a>
                        <a href="/clientes/all" class="sidebar__link">
                            <i class="ri-user-fill"></i>
                            <span>Clientes</span>
                        </a>
                    </div>
                </div>
                <div>
                  
                    <div class="sidebar__list">
                       
                    </div>
                </div>
            </div>
            <div class="sidebar__actions">
                <button>
                    
                </button>
                <button class="sidebar__link">
                    <i class="ri-logout-box-r-fill"></i>
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </nav>

    <!--=============== MAIN ===============-->
    <main class="main container" id="main">
        <div class="main-content">
            <h1>Detalles del Cliente</h1>
            <div class="details-container">
                <div class="detail-item">
                    <i class="ri-user-line"></i>
                    <span class="detail-label">Nombre:</span>
                    <span class="detail-value" th:text="${cliente.nombre}"></span>
                </div>
                <div class="detail-item">
                    <i class="ri-user-line"></i>
                    <span class="detail-label">Apellido:</span>
                    <span class="detail-value" th:text="${cliente.apellido}"></span>
                </div>
                <div class="detail-item">
                    <i class="ri-mail-line"></i>
                    <span class="detail-label">Email:</span>
                    <span class="detail-value" th:text="${cliente.email}"></span>
                </div>
                <div class="detail-item">
                    <i class="ri-phone-line"></i>
                    <span class="detail-label">Teléfono:</span>
                    <span class="detail-value" th:text="${cliente.telefono}"></span>
                </div>
                <div class="detail-item">
                    <i class="ri-map-pin-line"></i>
                    <span class="detail-label">Dirección:</span>
                    <span class="detail-value" th:text="${cliente.direccion}"></span>
                </div>
                <div class="actions-container">
                    <a href="/clientes/all" class="btn btn-back">
                        <i class="ri-arrow-left-line"></i> Volver al Listado
                    </a>
                    <button class="btn green" th:onclick="'window.location.href=\'/clientes/update/' + ${cliente.id} + '\';'">
                        <i class="ri-edit-line"></i> Editar
                    </button>
                </div>
            </div>
        </div>
    </main>
    
    <!--=============== MAIN JS ===============-->
    <script src="js/main.js"></script>
</body>
</html>